<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  

    <div class="container">

        <h1>URL Shrinker</h1>

        <form action="/shortUrl" method="post" class="my-4">
            <label for="fullURL" class="s">URL</label>
            <input type="text" name="url" id="url">
            <button class="btn btn-primary" type="submit">Shrink</button>
        </form>
    
        <table class="table table-striped ">
            <head>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                </tr>
            </head>
            <tbody>
                <% urls.forEach(url => { %>
                    <tr>
                        <td>
                            <a href="<%= url.full %>"><%= url.full %></a>
                        </td>
                        <td><a href="<%= url.short %>"><%= url.short %></a></td>
                        <td><%= url.clicks %></td>
                    </tr>
              <%  }) %>
                
            </tbody>
        </table>
    </div>

    
</body>
</html>